@mixin material-shadow($depth) {
	box-shadow: 0 1px $depth 1px rgba(0, 0, 0, 0.25);
}

body {
	background: #E8EAF6;
}

.menu {
	$menu-width: 144px;

	position: fixed;
	z-index: 8;
	@include material-shadow(8px);
	border-radius: 2px;
	background: white;
	color: black;

	padding: 8px 0;
	width: $menu-width;

	a {
		display: flex;
		align-items: center;
		height: 48px;
		padding-left: 16px;
		font-size: 16px;

		text-decoration: none;
		color: inherit;

		transition: background 0.2s ease-out;

		&:hover {
			background: rgba(0, 0, 0, 0.25);
		}

		&:active {
			background: rgba(0, 0, 0, 0.5);
		}
	}
}

.menu-outside-catcher {
	position: fixed;
	z-index: 7;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.main-interface {
	margin: auto;
	max-width: 800px;
	min-height: 20px;
	margin-top: 72px;
}

.topbar {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	background: #3F51B5;
	color: white;
	@include material-shadow(4px);


	display: flex;
	align-items: center;
}

.top-bar-button {
	margin: 1px;
	padding: 12px;
	border-radius: 100%;

	color: inherit;
	text-decoration: none;

	transition: background 0.2s ease-out;

	&:active {
		background: rgba(255, 255, 255, 0.5);
	}
}

.navigation-menu-button {
	margin: 0 12px;
}

.top-bar-heading {
	font-weight: bold;
	margin-left: 8px;
	font-size: 18px;
}

.top-bar-right-buttons {
	float: right;
	margin-left: auto;
	margin-right: 12px;
}

.sidebar {
	$sidebar-width: 264px;

	position: fixed;
	z-index: 16;
	top: 0;
	left: -$sidebar-width - 16px;
	width: $sidebar-width;
	height: 100vh;
	overflow-y: auto;

	background: white;
	@include material-shadow(16px);

	transition: left 0.2s ease-out;

	&>div>a {
		display: block;
		height: 48px;
		padding-left: 16px;
		display: flex;
		align-items: center;

		font-size: 14px;
		text-decoration: none;
		color: inherit;

		transition: background 0.2s ease-out;

		&:hover {
			background: rgba(0, 0, 0, 0.25);
		}

		&:active {
			background: rgba(0, 0, 0, 0.5);
		}
	}
}

.sidebar-active {
	left: 0;
}

.sidebar-outside-catcher {
	display: none;

	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
}

.show-list {
	list-style-type: none;
}

.show-item {
	z-index: 2;
	@include material-shadow(2px);
	border-radius: 2px;
	background: white;

	margin: 12px 0;

	height: 72px;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.show-id {
	display: none;
}

.show-image {
	width: 40px;
	height: 100%;

	background-size: cover;
}

.show-title {
	margin: 4px;
	font-weight: bold;
}

.show-item-right-part {
	float: right;
	margin-left: auto;
	margin-right: 0;

	display: flex;
	align-items: center;
}

.show-item-status {
	font-weight: bold;
	text-transform: uppercase;
}

.show-item-button {
	margin: 1px;
	padding: 12px;
	border-radius: 100%;

	text-decoration: none;
	color: inherit;
	transition: background 0.2s ease-out;

	&:active {
		background: rgba(0, 0, 20, 0.5);
	}
}
