<template>
<div>
  <main class="entry-detail-main container">
    <div class="row mb-4">
      <div class="entry-detail-picture col-3">
        <img :src="displayedEntry.picture" :alt="$t(`library.${displayedEntry.mediaType}.cover_picture`)">
      </div>
      <div class="col-12 col-sm-9">
        <h1 class="entry-detail-name mt-3 mt-sm-0 mb-sm-3 mr-sm-4">{{ displayedEntry.name }}</h1>
        <div class="entry-detail-status mb-1">
          <i class="material-icons" aria-hidden="true">{{ statusIcons[displayedEntry.status] }}</i>
          <span class="entry-detail-status-text">{{ $t(`library.${displayedEntry.mediaType}.status.${displayedEntry.status}`) }}</span>
        </div>
        <span class="sr-only">{{ $t(`library.${displayedEntry.mediaType}.alternative_names`) }}:</span>
        <ul class="entry-detail-alter-names">
          <li v-for="name in displayedEntry.names.slice(1)">{{ name }}</li>
        </ul>
      </div>
    </div>
    <h2>{{ $t(`library.${displayedEntry.mediaType}.chapter_list`) }}</h2>
    <div class="row">
      <ol class="entry-detail-chapter-list">
        <li v-for="chapter in displayedEntry.chapters" class="col-3 col-sm-2 col-lg-1">
          <button :class="'entry-detail-chapter-list-item my-3 btn btn-outline-primary' + (chapter.completed ? ' active' : '')" type="button" :aria-pressed="chapter.completed" autocomplete="off" @click="toggleChapterStatus(chapter)">
            <span class="entry-detail-chapter-list-item-name">{{ chapter.number }}<template v-if="chapter.name">. {{ chapter.name }}</template></span>
          </button>
        </li>
      </ol>
    </div>
  </main>
</div>
</template>

<script>
import LibraryEntry from '../lib/library-entry.js';

export default {
  data: () => ({
    statusIcons: require('../lib/library-entry-statuses.js').icons,
    displayedEntry: new LibraryEntry({
      id: 4,
      names: [
        '灼眼的夏娜',
        'Shakugan no Shana',
        '灼眼のシャナ',
        '好吃的夏娜',
        '美味的夏娜',
        '可爱的夏娜',
        '想要锤 Eq 的夏娜'
      ],
      status: 'current',
      completedTimes: 0,
      mediaType: 'series',
      picture: "https://myanimelist.cdn-dena.com/images/anime/8/21197l.jpg",
      chapters: Array.from(Array(24)).map((a, i) => ({
        number: i + 1,
        status: i < 13 ? 'completed' : 'planned'
      }))
    })
  }),
  methods: {
    toggleChapterStatus(chapter) {
      if (chapter.status === 'completed') {
        chapter.status = 'planned';
      } else {
        chapter.status = 'completed';
      }
    }
  }
};
</script>

<style lang="scss">
.entry-detail-main {
  padding: 3rem 2rem;

  @include media-breakpoint-down(sm) {
    padding: 1.5rem;
  }
}

.entry-detail-picture {
  display: flex;
  align-items: start;
  justify-content: center;

  img {
    width: 100%;
  }
}

.entry-detail-name {
  display: inline-block;
}

.entry-detail-status {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;

  i.material-icons {
    margin-right: 0.4rem;
  }
}

.entry-detail-alter-names {
  list-style-type: none;
  padding-left: 0;

  color: $secondary;

  li {
    display: inline-block;

    &::after {
      content: '·';
      margin: 0 0.4rem;
    }

    &:last-child::after {
      content: none;
    }
  }
}

.entry-detail-chapter-list {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

.entry-detail-chapter-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
  color: inherit;
}

.entry-detail-chapter-list-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
